/* Main */
* {
   margin:0;
   padding:0;
}

body {
    font-size: 13px;
	overflow-x: hidden;
    margin-top: -9px;
    background-color: #fff;
    color: #747678;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0004);
}

a {
    color: #727476;
}

a:hover {
	text-decoration: none;
}

#main-container{
    padding: 20px 50px 0 50px;
}

.container {
    width: 100%;
    max-width: 100%;
}

/* Loggued user Navigation */ 
.navbar { 
    margin-bottom: 0px;
    border-radius: 0px;
}

/* Navigation */
#sidebar { 
	height: 39px;
    background-color: #494949;
}

#sidebar > ul { 
    margin:0px; 
    padding:0px; 
    width:100%; 
    display:block; 
    z-index:999;
} 

#sidebar > ul > li { 
    height: 39px;
    list-style-type:none; 
    float:left;
    display:block; 
    margin:0px; 
    border-right:1px dotted #6b6b6b; 
    position:relative; 
    padding:10px; 
    cursor:pointer
} 

#sidebar > ul > li:hover ul { 
    display:block; 
} 

#sidebar > ul > li:hover { 
    background-color:#2b2b2b;
}

#sidebar > ul > li:hover a { 
    background:none;
}

#sidebar > ul li ul { 
    margin:0px; 
    padding:0px; 
    display:none; 
    z-index:999;  
    position:absolute; 
    border-radius:3px; 
    left:0px; top:40px;  
    background:#2b2b2b; 
    min-width:200px;
} 

#sidebar > ul li ul li { 
    list-style-type:none; 
    margin:0px; 
    font-size:12px; 
    line-height:30px;  
} 

#sidebar > ul li ul li a { 
    display:block; 
    padding:5px 10px; 
    color:#fff; 
    text-decoration:none; 
    font-weight:bold; 
} 

#sidebar > ul li ul li:hover a { 
    background-color:#606060; 
    border-radius:3px;
} 

#sidebar > ul li span { 
    cursor:pointer; 
    margin:0px 2px 0 5px; 
    font-weight:bold; 
    color:#fff; 
    font-size:11px; 
}

#sidebar > ul li a i { 
    background-image: url("../img/glyphicons-halflings-white.png");     
    margin-top:4px;    
    vertical-align: top;
}

/** Breadcrumb part **/
#breadcrumb {
	background-color: #e5e5e5;
	border-bottom: 1px solid #d6d6d6;
	padding-left: 10px;
}

#breadcrumb a {
	padding: 8px 20px 8px 10px;
	display: inline-block;
	background-image: url('../img/breadcrumb.png');
	background-position: center right;
	background-repeat: no-repeat;
	font-size: 11px;
	color: #666666;
}

#breadcrumb a:hover {
	color: #333333;
}

#breadcrumb a:last-child {
	background-image:none;
}

#breadcrumb a.current {
	font-weight: bold;
	color: #444444;
}

#breadcrumb a i {
	margin-right: 5px;
    margin-top: -1px;
	opacity: .6;
}

#breadcrumb a:hover i {
	margin-right: 5px;
	opacity: .8;
}

/** TABLE **/
.table {
    border-radius: 0px;
}

.table th {
	font-size: 13px;
}

.table td {
	font-size: 12px;
	padding: 5px 10px 2px;
	border-bottom: 0;
	color: #666;
}

.table-select {
    width: 50px;
}

/* Forms part */
form {
	margin: 0;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 13px;
    margin-bottom: 0;
	border-radius: 2px;
	height: 30px;
}

/** BADGE **/

.label {
    float: left;
	margin-top: 5px;
    font-size: 90%;
    border-radius: 2px;
}

.label-important {
    display: table;
}

/** Module part **/ 
.module {
  border: 1px solid #d2d4d8;
  border-radius: 3px;
  margin-bottom: 15px;
}

.module .module-head {
  background: #f7f8f9;
  border-bottom: 1px solid #d9d9dd;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  height: 40px;
}
.module .module-head > a,
.module .module-head > b {
  color: #727476;
  display: inline-block;
  font-weight: 500;
  padding: 10px 15px;
}
.module .module-head a {
  color: inherit;
  text-decoration: none;
}
.module .module-head i {
  font-size: 14px;
  color: #666;
  display: inline-block;
  line-height: 20px;
}
.module .module-body {
  background: #fff;
  padding: 15px;
  border-radius: 0 0 2px 2px;
}

.module .module-body .upper-menu {
    margin: 10px;
}

.module .module-body [class*="span"] {
    margin-left: 0px;
}

.pagination {
    float:left;
    margin: 0px;
}

.alert {
    border-radius: 2px;
    margin-bottom: 0px;
}

#delete-users {
    display: none;
}

.status-message {
	margin-bottom: 15px;
}